<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Link Expired</title>
  </head>
  <body>
    <h1>Password Reset Link Expired</h1>
    <p>
      The link you used has expired or is no longer valid. Please request a new
      password reset link.
    </p>
  </body>
</html>
